<div id="<%= dom_id coin %>">
  <p>
    <strong>Descrição:</strong>
    <%= coin.description %>
  </p>

  <p>
    <strong>Sigla:</strong>
    <%= coin.acronym %>
  </p>

  <p>
    <strong>Url da imagem:</strong>
    <img src="<%= coin.url_image %>" width="50px" />
  </p>

</div>
