<p style="color: green"><%= notice %></p>

<h1>Moedas Cadastradas</h1>

<div id="coins">
  <% @coins.each do |coin| %>
    <%= render coin %>
    <p>
      <%= link_to "Ver essa moeda", coin %>
    </p>
  <% end %>
</div>

<%= link_to "Cadastrar nova moeda", new_coin_path %>
