<h1>Editing minin type</h1>

<%= render "form", minin_type: @minin_type %>

<br>

<div>
  <%= link_to "Show this minin type", @minin_type %> |
  <%= link_to "Back to minin types", minin_types_path %>
</div>
