<p style="color: green"><%= notice %></p>

<h1>Minin types</h1>

<div id="minin_types">
  <% @minin_types.each do |minin_type| %>
    <%= render minin_type %>
    <p>
      <%= link_to "Show this minin type", minin_type %>
    </p>
  <% end %>
</div>

<%= link_to "New minin type", new_minin_type_path %>
